cabecalho {
    background-color: black;
    color: white;
    font-size: 100%;
}

body {
    background-color: yellow;
    color: black;
    font-size: 100%;
}

footer {
    background-color: black;
    color: white;
    font-size: 130%;
}