cabecalho {
    background-color: black;
    color: white;
    font-size: 80%;
}

body {
    background-color: yellow;
    color: black;
    font-size: 70%;
}

footer {
    background-color: black;
    color: white;
    font-size: 80%;
}